


<!--INTRO MESSAGE HERE-->

<div class ="jumbotron" id= "addtourjumbo">
<h2 class = "centertext">Do you have a uniquely-decorated home you want to share with other design lovers ?</h2>

<p class = "centertext">To apply to give a home tour, please fill out all of the information below, including at least one photo.  </p>
</div><!--End Jumbotron-->


<!--FORM BEGINS HERE-->

<div class = "container">
<div class = "row">
<div class = "col-md-6 col-md-offset-3">
<form name = "addForm" ng-submit = "uploadPic (file)">
    
    <h2 class = "centertext">Tell us about About Your Tour</h2>
    
    
<div class="form-group">
    <label for="Tourname">Tour Name (Be Creative!)</label>
    <input type="text" ng-model="tour.name" class="form-control" id="tourname" placeholder="Tour Name" name = "name">
  </div>
  
  <h3>Help users find a tour they love!  Which design categories describe what visitors will see on your tour?</h3>
 
 <div class="form-group">
    <label for="neighborhood">Your Neighborhood</label>
    <input type="text" ng-model= "tour.neighborhood" class="form-control" id="yourneighborhood" placeholder="Your Neighborhood" name ="neighborhood">
  </div>
  
  
  <div class="form-group">
    <label for="city">Your City</label>
    <input type="text" ng-model = "tour.city" class="form-control" id="yourcity" placeholder="Your City" name ="city">
  </div>
  <div class="form-group">
    <label for="description">Describe your tour</label>
    <textarea  ng-model = "tour.description" class="form-control" id="description" placeholder="Describe your tour in 150 words or less" name ="description" form = "addForm">
       </textarea>
  </div>
  <div class="form-group">
    <label for="duration">Tour Duration</label>
    <input type="text" ng-model = "tour.duration" class="form-control" id="duration" placeholder="How long will your tour last in hours? Example:  1.5" name ="duration">
  </div>
  <div class = "form-group">
    <label for ="image">Please Upload an Image of Your Tour, max 2MB</label>
    <input type="file" ngf-select ng-model="tour.image" name="image"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <!--<i ng-show="myForm.file.$error.required">*required</i><br>-->
      <!--<i ng-show="myForm.file.$error.maxSize">File too large -->
      <!--    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>-->
      <!--<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>-->
      <!--<br>-->
      <!--<button ng-disabled="!myForm.$valid" -->
      <!--        ng-click="uploadPic(picFile)">Submit</button>-->
      <!--<span class="progress" ng-show="picFile.progress >= 0">-->
      <!--  <div style="width:{{picFile.progress}}%" -->
      <!--      ng-bind="picFile.progress + '%'"></div>-->
      <!--</span>-->
      <!--<span ng-show="picFile.result">Upload Successful</span>-->
      <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
    </fieldset>
    
    
    
    
  </div> 
  
  
   <button type="submit"  class="btn btn-default">Submit</button>
</form>
</div><!--End col-md-6 col-md-offset-3-->
</div><!--End Row-->


</div><!--End Container-->



<!--Checkboxes element in progress-->



  <!--<fieldset>-->
  <!--    <div class= "col-md-6"><!--Start first checkbox col-->-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "artnouveau"> Art Nouveau-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "midcentury"> Mid-century Modern-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "rockabilly"> Rockabilly-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "eastretro"> East European Retro-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox" name = "styles []" value = "artdeco">-->
  <!--  <label>-->
  <!--    <input type="checkbox"> Art Deco-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "postwar"> Postwar-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "prewar"> Prewar-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "artsandcrafts"> Arts and Crafts Movement-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "naturalgreen"> Natural/Green-->
  <!--  </label>-->
  <!--</div>-->
  
   
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "asian"> Asian-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "rustic"> Rustic-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "southwest"> Southwestern USA-->
  <!--  </label>-->
  <!--</div>-->
  <!--</div><!--End col-md-6 first checkbox col -->-->
  <!-- <div class = "col-md-6"><!--Start second checkbox col-->-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "country"> Country Style-->
  <!--  </label>-->
  <!--</div>-->
  
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "shabby"> Shabby-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "scandinavian"> Scandinavian-->
  <!--  </label>-->
  <!--</div> -->
  
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox"name = "styles []" value = "ikeahacks"> Ikea Hacks-->
  <!--  </label>-->
  <!--</div>-->
  <!--   <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox"name = "styles []" value = "secondhand"> Second Hand-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox"name = "styles []" value = "modern"> Modern-->
  <!--  </label>-->
  <!--   <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox"name = "styles []" value = "minimalist"> Minimalist-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "steampunk"> Steampunk-->
  <!--  </label>-->
  <!--</div>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "glam"> Glam-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "goth"> Goth-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "tinyspaces"> Tiny spaces-->
  <!--  </label>-->
  <!--</div>-->
  <!-- <div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox" name = "styles []" value = "kidsandfamilies"> Kids and families-->
  <!--  </label> -->
  <!--  </div>-->
  <!--  </div><!--End col-md-6 third checkbox col-->-->
  <!--  </fieldset>-->

 
  
  <!--<div class="form-group">-->
  <!--  <label for="exampleInputEmail1">Your Email Address</label>-->
  <!--  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name = "email">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--  <label for="tourfirstname">Your First Name</label>-->
  <!--  <input type="text" class="form-control" id="firstname" placeholder="Your First Name">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--  <label for="tourlastname">Your Last Name</label>-->
  <!--  <input type="text" class="form-control" id="lastname" placeholder="Your Last Name">-->
  <!--</div>-->
  
  
  
  <!--<div class="form-group">-->
  <!--  <label for="exampleInputFile">File input</label>-->
  <!--  <input type="file" id="exampleInputFile">-->
  <!--  <p class="help-block">Please upload a photo for your tour</p>-->
  <!--</div>-->
  <!--<div class="checkbox">-->
  <!--  <label>-->
  <!--    <input type="checkbox"> Check me out-->
  <!--  </label>-->
 