



h1  {
    font-family: "Raleway";
}

h2 {
    font-family: "Raleway";
}




hr {
    size: 2px #fff;
}



.centertext {
    text-align: center;
}



.addspace {
    height: 100px;
}


/*Style index.html main page*/

#frontpagejumbo {
    background-image: url("images/door2s.jpg");
    background-size: cover;
    height: 100%;
}

#transparentjumbolayer {
    background-color: #fff;
    filter: alpha(opacity=70);
  /* IE */
  -moz-opacity: 0.7;
  /* Mozilla */
  opacity: 0.7;
  /* CSS3 */
}



/*Style Add Tour Page*/

.thumb {
    padding: 15px;
}


/*Style Single Tour Page*/

#tourinfo {
    padding-top: 25px;
}

#singletourimage {
  margin-bottom: 25px;
}

.btn-padded {
    margin-right: 5px;
}

/*Style Tours Index*/

#moreinfo {
    margin-bottom: 30px;
}


 .img-tile { 
    
    height: 250px;
    width: 100%;
    object-fit: cover;
    
   
    }
    
@media(max-width: 992px) {
	.img-thumbnail {
		height: auto;
	}
}    

.imagecard {
    padding: 10px;
    
}

.citysearch {
    padding: 25px;
    
}