<div class = "container centertext">
<h1>  Photo Credits</h1>

<h2>All images on this sample web app are from the fabulous photographers at <a href ="http://www.unsplash.com Unsplash.com" target= "blank">Unsplash.Com</a> and 
<a href  "http://www.flickr.com" target= "blank">Flickr</a></h2>
<div class = "row">
<div class = "col-md-3">
<img src = "/images/norwegian.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/decor8/9574630253/in/photolist-nRv7Xn-bEKXia-jrW8-4c7JDE-PuSmn-83obJf-e5yCH-e8doZD-63FtrM-4h9LVh-7C97g4-fAjU33-8KY7SU-3Xxmj-4vqTrN-5w7EAZ-5kRwMf-hvytxA-brR4mS-4n8Ff5-9yKFLx-fA5yWa-5evtJn-5o9KQD-4GCtGz-fA5tZX-qceKPh-4nRJHY-cStAQL-5unDJ8-7PPQfF-9YdcSv-kQiZJY-78Zxfs-b67CQk-6jFjwv-9JKuZA-7C98pn-6LAvbM-oQtFCy-4LHFBD-nwDpWX-6sjF7L-bQTW1-anBWqN-4Cd8a1-5NGEka-8yjhnS-brR4Zs-fap37q" target = "blank">Decor8Holly </a>on Flickr</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/cleankids.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/suzettesuzette/5886959197/in/photolist-9YdcSv-kQiZJY-78Zxfs-b67CQk-6jFjwv-9JKuZA-7C98pn-6LAvbM-oQtFCy-4LHFBD-nwDpWX-6sjF7L-bQTW1-fap37q-anBWqN-4Cd8a1-5NGEka-8yjhnS-brR4Zs-b67BwM-fAjTU1-dJuNpQ-hFSxQe-ddnA4Q-y1oxh-b67rNM-b67sFV-cu2u2h-5Bb5qr-4c3LhD-b67rDB-et9UN-4c7J5j-64j4CM-XWkne-i4o2t-4Yyw4K-nRv7Xn-bEKXia-jrW8-PuSmn-e5yCH-Ceo5H-i4o3v-78ofxJ-aZGYaR-tjK97d-nCwCV5-aZGYf4-6DTE4i" target = "blank">Suzette </a>on Flickr</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/scandimodern.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/jforth/3151749572/in/photolist-5NvxkS-dFqp2z-befCdr-5ZszhP-91aDjM-oopM4r-4Tg6XK-25HVW-9yNH1y-cP2GPC-7smLgA-nFtHzQ-mntrg-9dukaE-8FCDd4-8KyFXL-nFFnpi-9MdP7B-8KvAii-dQA3me-5Wfc3M-4xCEja-8xUWVi-3Wksq1-kC6Ya-9nX9i-7nonYN-btgtum-9ftrmm-fegsAZ-aTWM7r-5N7Kjv-aaNPX4-6cdzrZ-49Pasj-8FkZLa-84JWh1-bCrBoj-Cof4N-9cksX6-54pq-4vQVuS-nW4Q7e-5bwZaZ-wjUnT-nxd3Mj-4YqRaT-c6QKm7-7q3nMC-dxn5Qs" target = "blank">Jonas Forth </a>on Flickr</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/cutekitchen.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/valkyrieh116/4286032633/in/photolist-7wK3bn-bFaxVe-8kp3Ru-9cDuTN-fA5tMZ-fA5xZR-f7nDFw-fAjTsY-5N9msv-hvytqG-K4rKY-6rZz8-kpxCh-dHZSW7-aptYEE-fAjPv1-6u2UGk-4vmPzF-b67rqV-8XaAuP-5bBjaw-ah5FMq-wwG5T-fA5uaT-c2EmhA-3ch8X5-9De7jW-4t21v4-7Be7om-dyPume-anpYgk-hwF7YQ-dtAGYv-3phdTf-ai8ZUJ-bXMVWb-4n4BTv-e5Y3Dp-9eU4X3-qtNeZy-4cuZJe-a61fx6-6yodYC-8gvSVG-6UFLR4-5Mj7nH-7aJApx-e4q4K-d62DSb-e57TGh" target = "blank">
Valerie Hinojosa
 </a>on Flickr</h3>
</div><!--End Col Md 3-->
</div> <!--End Row-->
<div class = "col-md-3">
<img src = "/images/doors.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/decor8/9574630253/in/photolist-nRv7Xn-bEKXia-jrW8-4c7JDE-PuSmn-83obJf-e5yCH-e8doZD-63FtrM-4h9LVh-7C97g4-fAjU33-8KY7SU-3Xxmj-4vqTrN-5w7EAZ-5kRwMf-hvytxA-brR4mS-4n8Ff5-9yKFLx-fA5yWa-5evtJn-5o9KQD-4GCtGz-fA5tZX-qceKPh-4nRJHY-cStAQL-5unDJ8-7PPQfF-9YdcSv-kQiZJY-78Zxfs-b67CQk-6jFjwv-9JKuZA-7C98pn-6LAvbM-oQtFCy-4LHFBD-nwDpWX-6sjF7L-bQTW1-anBWqN-4Cd8a1-5NGEka-8yjhnS-brR4Zs-fap37q" target = "blank">Decor8Holly </a>on Unsplash</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/cleankids.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/suzettesuzette/5886959197/in/photolist-9YdcSv-kQiZJY-78Zxfs-b67CQk-6jFjwv-9JKuZA-7C98pn-6LAvbM-oQtFCy-4LHFBD-nwDpWX-6sjF7L-bQTW1-fap37q-anBWqN-4Cd8a1-5NGEka-8yjhnS-brR4Zs-b67BwM-fAjTU1-dJuNpQ-hFSxQe-ddnA4Q-y1oxh-b67rNM-b67sFV-cu2u2h-5Bb5qr-4c3LhD-b67rDB-et9UN-4c7J5j-64j4CM-XWkne-i4o2t-4Yyw4K-nRv7Xn-bEKXia-jrW8-PuSmn-e5yCH-Ceo5H-i4o3v-78ofxJ-aZGYaR-tjK97d-nCwCV5-aZGYf4-6DTE4i" target = "blank">Suzette </a>on Flickr</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/scandimodern.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/jforth/3151749572/in/photolist-5NvxkS-dFqp2z-befCdr-5ZszhP-91aDjM-oopM4r-4Tg6XK-25HVW-9yNH1y-cP2GPC-7smLgA-nFtHzQ-mntrg-9dukaE-8FCDd4-8KyFXL-nFFnpi-9MdP7B-8KvAii-dQA3me-5Wfc3M-4xCEja-8xUWVi-3Wksq1-kC6Ya-9nX9i-7nonYN-btgtum-9ftrmm-fegsAZ-aTWM7r-5N7Kjv-aaNPX4-6cdzrZ-49Pasj-8FkZLa-84JWh1-bCrBoj-Cof4N-9cksX6-54pq-4vQVuS-nW4Q7e-5bwZaZ-wjUnT-nxd3Mj-4YqRaT-c6QKm7-7q3nMC-dxn5Qs" target = "blank">Jonas Forth </a>on Flickr</h3>
</div><!--End Col Md 3-->
<div class = "col-md-3">
<img src = "/images/cutekitchen.jpg" class= "img-thumbnail">
<h3>By: <a href ="https://www.flickr.com/photos/valkyrieh116/4286032633/in/photolist-7wK3bn-bFaxVe-8kp3Ru-9cDuTN-fA5tMZ-fA5xZR-f7nDFw-fAjTsY-5N9msv-hvytqG-K4rKY-6rZz8-kpxCh-dHZSW7-aptYEE-fAjPv1-6u2UGk-4vmPzF-b67rqV-8XaAuP-5bBjaw-ah5FMq-wwG5T-fA5uaT-c2EmhA-3ch8X5-9De7jW-4t21v4-7Be7om-dyPume-anpYgk-hwF7YQ-dtAGYv-3phdTf-ai8ZUJ-bXMVWb-4n4BTv-e5Y3Dp-9eU4X3-qtNeZy-4cuZJe-a61fx6-6yodYC-8gvSVG-6UFLR4-5Mj7nH-7aJApx-e4q4K-d62DSb-e57TGh" target = "blank">
Valerie Hinojosa
 </a>on Flickr</h3>
</div><!--End container-->